IDI_APPICON ICON "icon.ico"

bg-001 jpg "imgs\\bg-001.jpg"
bg-002 jpg "imgs\\bg-002.jpg"
bg-003 jpg "imgs\\bg-003.jpg"
bg-004 jpg "imgs\\bg-004.jpg"
bg-005 jpg "imgs\\bg-005.jpg"
bg-006 jpg "imgs\\bg-006.jpg"
bg-007 jpg "imgs\\bg-007.jpg"
bg-008 jpg "imgs\\bg-008.jpg"
bg-009 jpg "imgs\\bg-009.jpg"
bg-010 jpg "imgs\\bg-010.jpg"
bg-011 jpg "imgs\\bg-011.jpg"
bg-012 jpg "imgs\\bg-012.jpg"
bg-013 jpg "imgs\\bg-013.jpg"
bg-014 jpg "imgs\\bg-014.jpg"
bg-015 jpg "imgs\\bg-015.jpg"
bg-016 jpg "imgs\\bg-016.jpg"
bg-017 jpg "imgs\\bg-017.jpg"
bg-018 jpg "imgs\\bg-018.jpg"
bg-019 jpg "imgs\\bg-019.jpg"
bg-020 jpg "imgs\\bg-020.jpg"
bg-021 jpg "imgs\\bg-021.jpg"
bg-022 jpg "imgs\\bg-022.jpg"
bg-023 jpg "imgs\\bg-023.jpg"
bg-024 jpg "imgs\\bg-024.jpg"
bg-025 jpg "imgs\\bg-025.jpg"
bg-026 jpg "imgs\\bg-026.jpg"
bg-027 jpg "imgs\\bg-027.jpg"
bg-028 jpg "imgs\\bg-028.jpg"
bg-029 jpg "imgs\\bg-029.jpg"
bg-030 jpg "imgs\\bg-030.jpg"
bg-031 jpg "imgs\\bg-031.jpg"

shader.frag hlsl "shader.frag.hlsl"
shader.vert hlsl "shader.vert.hlsl"

STRINGTABLE
BEGIN
  101 "Casually Casual Sliding Puzzle"
END
